.navbar-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "Source Code Pro", monospace;
	font-style: bold;
	box-shadow: var(--global-shadow);
	background: var(--blue);
	height: 100px;

	.link-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.navbar-button {
		color: var(--white);
		margin: 0.5rem 1rem;
		padding: 0.25rem;
		font-size: 1.25rem;
		border-radius: 1rem;
		transition: border-radius 2s;
		font-weight: 600;

		&:hover {
			opacity: 0.75;
			color: lightblue;
			border-radius: 1.5rem;
		}
	}
	.active {
		background-color: var(--white);
		font-weight: bold;
		color: var(--blue);
		margin: 1rem 1rem;
		padding: 0.5rem;
		font-size: 1.5rem;
		transition: border-radius 2s;
	}
}

.search-bar {
	max-width: 600px;
	height: 100%;
	display: block;
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;

	&:hover {
		background-color: var(--light-blue);
	}
	@media screen and (max-width: 1000px) {
		display: none;
	}

	&::placeholder {
		font-size: 24px;
	}
}

.search-icon {
	border: 2px solid var(--white);
	height: 100%;
	aspect-ratio: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
