.navbar-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: -apple-system;
	font-style: bold;
	box-shadow: var(--global-shadow);
	background: var(--blue);

	.link-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.navbar-button {
		color: var(--white);
		text-decoration: none;
		margin: 0.5rem 1rem;
		padding: 0.25rem;
		font-size: 1.25rem;
		border-radius: 1rem;
		transition: border-radius 2s;
		font-weight: 600;

		&:hover {
			opacity: 0.75;
			color: lightblue;
			border-radius: 1.5rem;
		}
	}
	.active {
		background-color: var(--white);
		text-decoration: none;
		font-weight: bold;
		color: var(--blue);
		margin: 1rem 1rem;
		padding: 0.5rem;
		font-size: 1.5rem;
		transition: border-radius 2s;
	}
}

.search-bar {
	&:hover {
		background-color: lightgrey;
	}
	@media screen and (max-width: 1000px) {
		display: none;
	}
}
